html {

    font-family: monospace;
    background: beige;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
}

h1 {
    position: fixed;
    margin-top: 5%;
    margin-left: 20%;
    font-style: italic;
    font-weight: normal;
    font-size: 300%;
}

.contenu {
    position: fixed;
    left: 25%;
    top: 30%;
    width: 55%;
    height: 50%;
    overflow-y: auto;
    scroll-behavior: smooth;
    margin-top:0%;
}

.infos {
    width: 90%;
    text-align: block;
    opacity: 70%;
    font-size: 170%;
    line-height: 1.8;

}

.concerts {
    width: 100%;
    opacity: 70%;
    margin-top: 10%;
    font-size: 120%;

}

table {
    text-align: left;
    width:90%;
}

td {
    width:30%;
}



.menu {
    position: fixed;
    margin-top: 8%;
    margin-left: 5%;
    font-size: 200%;
}

h3 {
    font-style: italic;
    font-weight: normal;
    opacity: 90%;
}


ul {
    width: 50%;
    background-color: beige;
    opacity: 60%;
    list-style-type: none;
    stroke-opacity: 100%;
    border-radius: 2px;
}

li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 8px 16px;

}

li a:hover {

    color: white;
    background-color: black;
    opacity: 100%;
    border-radius: 5px;

}

.accueil a {
    width: 200px;
    text-decoration: none;
    color: black;
    opacity: 60%;
    stroke-opacity: 100%;
    font-size: 200%;
    font-family: monospace;
    font-style: italic;
    position: absolute;
    bottom: 10%;
    right: 10%;

}

.accueil a:hover {
    color: white;
    background-color: black;
    text-decoration: none;
    opacity: 60%;
    stroke-opacity: 100%;
    border-radius: 2px;
}

footer {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0%;
    margin-bottom: 0.1%;
}

.player {
    margin-top: 4%;

}

.playbio {
    position: fixed;
    top: 15%;
    left: 75%;
    width: 10%;
    height: 10%;
}

.playbio button {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: url('../images/hautparleur.svg');
    background-size: cover;
    border: none;
}

.soundcloudplayer {

    margin-top: 3%;
    width: 70%;

}

@media screen and (max-width: 1000px)
 {   
    .contenu {
    top: 15%;     
} 

.playbio {
    position: fixed;
    top: 10%;
    left: 75%;
    width: 5%;
    height: 5%;
}

    .infos {
        font-size: 100%;
    }

    .menu {
        font-size: 100%;
    }

    .concerts {
        font-size: 80%;
    }

    h1 {
        top: 0.5%;
        font-size: 240%;
    }

    li a {
        padding: 2px 4px;
    }

    footer {
        font-size: 80%;
    }
}

@media screen and (max-width: 730px)
 {   
    .contenu {
        top: 10%;
    left: 25%;    
} 

.playbio {
    position: fixed;
    top: 7%;
    left: 70%;
    width: 5%;
    height: 5%;
}

    .infos {
        font-size: 70%;
    }

    .menu {
        font-size: 70%;
    }

    .concerts {
        font-size: 60%;
    }

    h1 {
        font-size: 200%;
    }

    li a {
        padding: 2px 4px;
    }

    footer {
        font-size: 60%;
    }
}

@media screen and (max-width: 570px)
 {   
    .contenu {
        top: 10%;
    left: 30%;    
} 

.playbio {
    position: fixed;
    top: 7%;
    left: 75%;
    width: 5%;
    height: 5%;
}

    .infos {
        font-size: 70%;
    }

    .menu {
        font-size: 70%;
    }

    .concerts {
        font-size: 60%;
    }

    h1 {
        font-size: 200%;
    }

    li a {
        padding: 2px 4px;
    }

    footer {
        font-size: 60%;
    }
}




@media screen and (max-width: 500px)
 {   
    .contenu {
    top: 10%;
    left: 40%;    
} 

    .playbio {
    position: fixed;
    top: 7%;
    left: 75%;
    width: 5%;
    height: 5%;
}

    .infos {
        font-size: 70%;
    }

    .menu {
        font-size: 70%;
        margin-left: 0%;
        left:0%;
        top: 5%;
        width: 60%;
    }


    .concerts {
        font-size: 60%;
    }

    h1 {
        font-size: 140%;
    }

    li a {
        padding: 2px 4px;
    }

    footer {
        font-size: 60%;
    }
}